.container {
  display: flex;
}

.container>div {
  flex-direction: column;
  padding: 1rem;
}

#chess {
  border: 3px solid black;
  padding: 20px solid lightgray;
  font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif !important;
}

.flex-container {
  width: min-content;
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
}

.flex-container>div {
  background-color: #524f4f;
  text-align: center;
}

.flex {
  width: max-content;
  display: flex;
  flex-wrap: wrap;
}

.flex>div {
  margin: 30px;
  text-align: center;
}

.cell {
  width: 6rem;
  height: 6rem;
  font-size: 9px;
  margin: 1px;
}

.cell:before {
  margin: 3px;
  float: left;
  content: attr(id);
  color: lightgray;
}

.cell.black {
  background-color: darkgrey;
}

.cell.white {
  background-color: grey;
}

piece {
  align-content: center;
  font-size: 5rem;
}

piece:before {
  content: attr(symbol);
}

piece.white {
  text-shadow: 3px 3px 10px black;
  color: white;
}

piece.black {
  text-shadow: 3px 3px 10px white;
  color: black;
}

h1, h2, h3, h4, h5, span.h1, span.h2, span.h3, span {
  height: 20px;
  font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif !important;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table > tbody {
  max-height: 400px;
  overflow-y: scroll;
}

td, th {
  border: 1px solid darkgray;
  text-align: center;
  padding: 8px;
  color: darkgray;
  height: 14px;
  font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif !important;
}

tbody {
  text-align: center;
  border: 1px solid darkgray;
  counter-reset: section;
}

tbody>tr:before {
  counter-increment: section;
  content: counter(section);
}

tr:nth-child(even) {
  background-color: #dddddd;
}

caption {
  height: 16px;
  font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif !important;
  padding: 8px;
  margin: 8px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#message {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}